.pokemon-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;

}

.pokemon-card-container > div {
    margin: 1em;
    width: 150px;
    height: 350px;

    border: 5px solid rgb(255, 194, 11);
    border-radius: 5px;

    text-align: center;

    background-color: rgb(129, 135, 176);
    box-shadow: rgb(129, 135, 176) 0px 0px 10px;

    transition: 0.1s transform, 0.1s background-color, 0.1s box-shadow;
}

.pokemon-card-container > div:hover {
    transform: scale(1.1);
    transition: 0.2s transform, 0.2s background-color, 0.2s box-shadow;
    background-color: rgb(179, 183, 214);
    box-shadow: rgb(129, 135, 176) 0px 0px 20px;
}

a {
    text-decoration: none;
    cursor: pointer;
    display: block;
}

.abilities {
    width: 90%;
    margin: auto;
    font-size: 20px;
    border:rgb(0, 0, 0) 1px dotted;
    opacity: 80%;
    background-color: rgb(155, 162, 193);
    text-align: left;
}

p {
    font-size: 16px;
    border: 1px solid rgb(142, 142, 142);
    margin: 3px;
}

.pokemon-name {
    border: none;
    font-weight: bolder;
}