@page "/RecipeDetails/{recipeId}"
<h3>RecipeDetails</h3>

@code {
    public int RecipeId { get; set; } = 0;

    protected override void OnParametersSet()
    {


        base.OnParametersSet();
    }
}
