@using Test_matsidaBlazor.Data
@using Test_matsidaBlazor.Data.Models
@using Blazored.LocalStorage
@inject Blazored.LocalStorage.ILocalStorageService _LocalStorage
@inject NavigationManager NavigationManager
<h3>Inventory</h3>

<span>@Message</span>
<ul class="list-group w-25">
    @foreach(var item in Items)
    {
        <InventoryItem RemoveItem="RemoveItem" Ingredient="@item" />

    }
</ul>

<button @onclick="ClearSession">Clear Sesssion</button><br />


@code {
    public LoginTracker? Tracker { get; set; }
    public bool LoggedIn { get; set; } = false;
    public string Message { get; set; } = "";
    public List<Ingredient> Items = new List<Ingredient>();
    public int InventoryId { get; set; } = 0;

    CrudStuff crud = CrudStuff.GetInstance();

    public void RemoveItem(Ingredient ingredient)
    {
        crud.RemoveInventoryItem(Tracker, ingredient, 0);
        LoadInventory();
    }

    protected override async Task OnInitializedAsync()
    {
        Tracker = await _LocalStorage.GetItemAsync<LoginTracker>("LoginTracker");

        if(Tracker != null)
        {
            LoadInventory();

        }
        else
        {
            NavigationManager.NavigateTo("/Login");
        }

        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {

        base.OnParametersSet();
    }

    public void LoadInventory()
    {
        if(crud.CheckValidTracker(Tracker))
        {
            Message = "Hej " + Tracker.Username + "!";
            Items = crud.GetIngredientsInInventory(Tracker, InventoryId);
        }
        else
        {
            Items = new List<Ingredient>();
            Message = "Not logged in";
        }
    }

    public void ClearSession()
    {
        _LocalStorage.ClearAsync();
        Tracker = null;
        LoadInventory();

        StateHasChanged();
    }
}
