@using Test_matsidaBlazor.Data.Models

<div @onmousedown="@OnClick" class="dropdown-item">
    @if(Data != null)
    {
        @Data.Name
    }
</div>

@code {
    [Parameter]
    public Ingredient? Data { get; set; }
    [Parameter]
    public EventCallback<Ingredient> ItemClick { get; set; }

    protected override void OnInitialized()
    {

        base.OnInitialized();
    }

    public void OnClick()
    {
            Console.WriteLine(Data.Name);

        if (ItemClick.HasDelegate)
            ItemClick.InvokeAsync(Data ?? throw new Exception("Ingredient not set"));
    }
}
