@using Test_matsidaBlazor.Data.Models

<div style="@StyleContainerDisplay; position: absolute; overflow:visible">
@foreach(var item in IngredientList)
{
    <DropdownItem ItemClick="@OnItemClick" Data="@item" />
}
</div>

@code {
    public EventCallback<Ingredient?> callback;

    [Parameter]
    public List<Ingredient> IngredientList { get; set; } = new();
    [Parameter]
    public EventCallback<Ingredient?> ItemClickCallback { get; set; }
    [Parameter]
    public bool Visible
    {
        get
        {
            return visible;
        }
        set
        {
            if (value)
            {
                StyleContainerDisplay = "display:inline;";
            }
            else
            {
                StyleContainerDisplay = "display:none;";
            }
            visible = value;
        }
    }

    private bool visible = false;
    private string StyleContainerDisplay = "";

    protected override void OnParametersSet()
    {
        callback = ItemClickCallback;

        base.OnParametersSet();
    }

    public void OnItemClick(Ingredient ingredient)
    {
        callback.InvokeAsync(ingredient);
        IngredientList = new();

        StateHasChanged();

        Console.WriteLine(ingredient.Name);
    }

    public void FillIngredientList(List<Ingredient> list)
    {
        IngredientList = list;
    }
}
