@using Test_matsidaBlazor.Data.Models

<div class="dropdown-item">
    @if(Data != null)
    {
        @Data.Name
    }
</div>

@code {
    [Parameter]
    public Ingredient? Data { get; set; }

    protected override void OnInitialized()
    {
        Console.WriteLine(Data.Name);

        base.OnInitialized();
    }
}
