@using Test_matsidaBlazor.Data.Models

<div style="@StyleContainerDisplay; position: absolute; overflow:visible">
    @foreach(var item in IngredientList)
    {
        <DropdownItem OnItemClick="@OnItemClicked" Data="@item" />
    }
</div>

@code {
    [Parameter]
    public List<Ingredient> IngredientList { get; set; } = new();
    [Parameter]
    public EventCallback<Ingredient?> OnItemClick { get; set; }
    [Parameter]
    public bool Visible
    {
        get
        {
            return visible;
        }
        set
        {
            if (value)
                StyleContainerDisplay = "display:inline;";
            else
                StyleContainerDisplay = "display:none;";

            visible = value;
        }
    }

    private bool visible = false;
    private string StyleContainerDisplay = "";

    public void OnItemClicked(Ingredient ingredient)
    {
        OnItemClick.InvokeAsync(ingredient);
        IngredientList = new();

        StateHasChanged();
    }

    public void FillIngredientList(List<Ingredient> list)
    {
        IngredientList = list;
    }
}
