.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  /* padding: 0px 20px; */
  
}

.nav-container > div:first-child {
    background-color:  rgb(183, 0, 0);
}

.nav-container > div:last-child {
    background-color:  rgb(183, 0, 0);
}

.nav-container > a {
    flex: auto;
    width: 300px;
    height: 2em;
    padding-top: 5px;
    max-height: 2em;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;

    color: #000;
    background-color: rgb(183, 0, 0);
    border: 1px solid #000
}

.nav-container > a:hover {
    background-color: rgb(255, 0, 0);
}

@media screen and (max-width: 500px) {
    .nav-container > a {
       font-size: 12px;
    }
  }

@media screen and (max-width: 300px) {
    .nav-container {
      flex-direction: column;
    }
  }