a {
    width: 90%;
    margin: auto;
    margin-top: 1em;
    text-align: center;
    font-size: 18px;
    font-family: Calibri;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(222, 51, 51);
}

a:hover {
    background-color: rgb(229, 93, 93);

}