<style>
    .menu-child {display:inline-block}
</style>

<div style="white-space: nowrap">
<div class="menu-child" style="font-size:24px;">Innehållsrikt.se</div>
<div class="menu-child"></div>
<div class="menu-child"><a href="/search">Sök maträtter</a></div>
</div>
<div style="height:50px"></div>