@using Test_matsidaBlazor.Data
@using Test_matsidaBlazor.Data.Models

<div>
    @foreach (var item in DropdownList)
    {
        <SearchDropdownItem Info="@(item)" />
    }
</div>

@code {
    [Parameter]
    public string SearchAction { get; set; } = "";
    public List<Recipe> DropdownList { get; set; } = new();

    protected override void OnInitialized()
    {

        base.OnInitialized();
    }

    public void StartSearch(string search)
    {
        var crud = CrudStuff.GetInstance();
        var results = new List<Recipe>();

        switch (SearchAction)
        {
            case "name":
                results = crud.SearchRecipesByName(search);
                break;
            case "ingredient":
                //results = crud.SearchRecipesByIngredient(search);
                break;
            default:
                throw new ArgumentException("Search parameter not set.");
        }

        PopulateDropdown(results);
    }

    public void PopulateDropdown(List<Recipe> results)
    {
        DropdownList = results;
        StateHasChanged();
    }

    
}
