@using Test_matsidaBlazor.Data
@using Test_matsidaBlazor.Data.Models
@inject NavigationManager NavigationManager

<div @onclick="GotoRecipeDetails" class="dropdown-item">
    @Info.Name
</div>

@code {
    [Parameter]
    public Recipe Info { get; set; }

    public void GotoRecipeDetails()
    {
        if(Info != null)
            NavigationManager.NavigateTo("RecipeDetails/" + Info.Id);
    }
}
