@using Test_matsidaBlazor.Data
@using Test_matsidaBlazor.Data.Models

<div>
    @foreach (var item in DropdownList)
    {
        <SearchDropdownItem Info="@(item)" />
    }
</div>

@code {
    public List<Recipe> DropdownList { get; set; } = new();

    protected override void OnInitialized()
    {

        base.OnInitialized();
    }

    public void StartSearch(string search)
    {
        var results = CrudStuff.SearchRecipes(search);

        PopulateDropdown(results);
    }

    public void PopulateDropdown(List<Recipe> results)
    {
        DropdownList = results;
        StateHasChanged();
    }

    
}
