<section class="bg-dark text-light p-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Ditt <span class="text-warning">skafferi på nätet!</span></h1>
                <p class="lead my-4">
                    Håll koll på vad du har i skafferiet och på din inköpslista!
                    </p>
                <a href="/login"><button class="btn-link btn-warning btn-lg">Logga in</button></a>
            </div>
            <img class="img-fluid w-25 d-none d-sm-block" src="img/jiangyi-99-vegetables.svg" />
        </div>
    </div>
</section>