@using Test_matsidaBlazor.Data
@using Test_matsidaBlazor.Data.Models
@inject Blazored.LocalStorage.ILocalStorageService _LocalStorage

<h1>Login Testing</h1>

<InputUser Parent="this" />
<InputPassword Parent ="this" />

<button @onclick="OnLogin" class="btn btn-primary btn-lg">Login</button>
<span>@success</span>

@code {
    [Parameter]
    public string Username { get; set; } = "";
    [Parameter]
    public string Password { get; set; } = "";

    public string success { get; set; } = "";

    CrudStuff crud = CrudStuff.GetInstance();

    public void OnLogin()
    {
        var user = new User { Username=this.Username, Password=this.Password };
        if(crud.CheckLoginDetails(user))
        {
            success = "Logged in successfully";

            var tracker = crud.GenerateLoginTracker(user);
            _LocalStorage.SetItemAsync("LoginTracker", tracker);

        }
        else
        {
            success = "Failed to log in.";
        }

    }
}
