@page "/Inventory"
@using Test_matsidaBlazor.Data
@using Test_matsidaBlazor.Data.Models
@using Test_matsidaBlazor.Shared.Inventory
@using Test_matsidaBlazor.Shared.ShoppingList
@inject Blazored.LocalStorage.ILocalStorageService _LocalStorage


<div class="container">
    @Message
    <br />
    <div class="row">
        <div class="col-sm">
            <InventoryContainer @ref=Inv Page="0" />
        </div>
        <div class="col-sm">
                <ShoppingListContainer OnItemTransfer=OnItemTransfered Page="0" />
        </div>
    </div>
</div>

<div style="height:500px;"></div>

@code {
    public InventoryContainer Inv { get; set; } = new();
    public LoginTracker? Tracker { get; set; } = null!;
    public string Message { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        Tracker = await _LocalStorage.GetItemAsync<LoginTracker>("LoginTracker");

        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        if(CrudStuff.GetInstance().CheckValidTracker(Tracker) && Tracker!=null)
        {
            Message = "Välkommen " + Tracker.Username + "!";
        }

        base.OnParametersSet();
    }

    public void OnItemTransfered(Ingredient ingredient)
    {
        Inv.AddItem(ingredient);
    }
}
