<!-- Password Input -->
<div class="input-group mb-3 w-25">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Confirm Password</span>
    </div>
    <input @oninput=OnInput type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
</div>

@code {
    [Parameter]
    public EventCallback<string> Callback { get; set; }

    public void OnInput(ChangeEventArgs args)
    {
        if(args.Value!=null)
        {
            Callback.InvokeAsync(args.Value.ToString());
        }
    }
}
