input {
    width: 80%;
    border: none;
    background: transparent;

    font-size: 14pt;
    font-family: Calibri;
    text-align: center;
}
input:focus {
    height: 2em;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;

    background-color: rgb(255, 255, 255);

    transition: background-color 0.1s;
}

input.inputValid {
    border: none;
    background: transparent;

    transition: background-color 0.2s;
}
input.inputValid:focus {
    background-color: rgb(255, 255, 255);

    transition: background-color 0.1s;
}

input.inputInvalid {
    background-color: rgb(255, 186, 186);
    border: 2px solid rgb(106, 23, 23);

    transition: background-color 0.2s;
}
input.inputInvalid:focus {
    background-color: rgb(255, 255, 255);

    transition: background-color 0.1s;
}